.buttonLink {
    text-decoration: none;
    background-color: var(--sky-blue-color);
    color: var(--white-color);
    padding: 0.5em 2em;
}

.buttonLink:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}
