.type_container {
    display: inline-block;
    padding-right: 2rem;
}

.text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* keyframes */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
